html, body, .wrap {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden; }

.wrap {
  transform-style: preserve-3d;
  perspective: 500px;
  overflow: hidden; }

.tri {
  position: absolute;
  top: 50%;
  left: 50%; }

.tri:nth-child(1) {
  border-top: 36px solid #ff6a00;
  border-top: 36px solid white;
  border-right: 18px solid transparent;
  border-left: 18px solid transparent;
  margin-left: -9px;
  margin-top: -9px;
  transform: rotate(172deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim1 10s infinite linear;
  animation-delay: 0.2s;
  opacity: 1; }

@keyframes anim1 {
  100% {
    opacity: 1;
    transform: rotate(258deg) translate3d(899px, 75px, 1000px) scale(1); } }

.tri:nth-child(2) {
  border-top: 92px solid #bbff00;
  border-top: 92px solid white;
  border-right: 46px solid transparent;
  border-left: 46px solid transparent;
  margin-left: -23px;
  margin-top: -23px;
  transform: rotate(49deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim2 10s infinite linear;
  animation-delay: 0.4s;
  opacity: 1; }

@keyframes anim2 {
  100% {
    opacity: 1;
    transform: rotate(73.5deg) translate3d(780px, 839px, 1000px) scale(1); } }

.tri:nth-child(3) {
  border-top: 84px solid #ff4800;
  border-top: 84px solid white;
  border-right: 42px solid transparent;
  border-left: 42px solid transparent;
  margin-left: -21px;
  margin-top: -21px;
  transform: rotate(318deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim3 10s infinite linear;
  animation-delay: 0.6s;
  opacity: 1; }

@keyframes anim3 {
  100% {
    opacity: 1;
    transform: rotate(477deg) translate3d(285px, 873px, 1000px) scale(1); } }

.tri:nth-child(4) {
  border-top: 28px solid #00ff40;
  border-top: 28px solid white;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
  margin-left: -7px;
  margin-top: -7px;
  transform: rotate(246deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim4 10s infinite linear;
  animation-delay: 0.8s;
  opacity: 1; }

@keyframes anim4 {
  100% {
    opacity: 1;
    transform: rotate(369deg) translate3d(931px, 751px, 1000px) scale(1); } }

.tri:nth-child(5) {
  border-top: 38px solid #00ff9d;
  border-top: 38px solid white;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  margin-left: -9.5px;
  margin-top: -9.5px;
  transform: rotate(278deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim5 10s infinite linear;
  animation-delay: 1s;
  opacity: 1; }

@keyframes anim5 {
  100% {
    opacity: 1;
    transform: rotate(417deg) translate3d(956px, 547px, 1000px) scale(1); } }

.tri:nth-child(6) {
  border-top: 62px solid #00ff8c;
  border-top: 62px solid white;
  border-right: 31px solid transparent;
  border-left: 31px solid transparent;
  margin-left: -15.5px;
  margin-top: -15.5px;
  transform: rotate(218deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim6 10s infinite linear;
  animation-delay: 1.2s;
  opacity: 1; }

@keyframes anim6 {
  100% {
    opacity: 1;
    transform: rotate(327deg) translate3d(270px, 477px, 1000px) scale(1); } }

.tri:nth-child(7) {
  border-top: 52px solid #00aeff;
  border-top: 52px solid white;
  border-right: 26px solid transparent;
  border-left: 26px solid transparent;
  margin-left: -13px;
  margin-top: -13px;
  transform: rotate(201deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim7 10s infinite linear;
  animation-delay: 1.4s;
  opacity: 1; }

@keyframes anim7 {
  100% {
    opacity: 1;
    transform: rotate(301.5deg) translate3d(14px, 285px, 1000px) scale(1); } }

.tri:nth-child(8) {
  border-top: 4px solid #ff00ae;
  border-top: 4px solid white;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  margin-left: -1px;
  margin-top: -1px;
  transform: rotate(137deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim8 10s infinite linear;
  animation-delay: 1.6s;
  opacity: 1; }

@keyframes anim8 {
  100% {
    opacity: 1;
    transform: rotate(205.5deg) translate3d(108px, 76px, 1000px) scale(1); } }

.tri:nth-child(9) {
  border-top: 68px solid #bfff00;
  border-top: 68px solid white;
  border-right: 34px solid transparent;
  border-left: 34px solid transparent;
  margin-left: -17px;
  margin-top: -17px;
  transform: rotate(87deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim9 10s infinite linear;
  animation-delay: 1.8s;
  opacity: 1; }

@keyframes anim9 {
  100% {
    opacity: 1;
    transform: rotate(130.5deg) translate3d(271px, 706px, 1000px) scale(1); } }

.tri:nth-child(10) {
  border-top: 54px solid #0033ff;
  border-top: 54px solid white;
  border-right: 27px solid transparent;
  border-left: 27px solid transparent;
  margin-left: -13.5px;
  margin-top: -13.5px;
  transform: rotate(218deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim10 10s infinite linear;
  animation-delay: 2s;
  opacity: 1; }

@keyframes anim10 {
  100% {
    opacity: 1;
    transform: rotate(327deg) translate3d(808px, 482px, 1000px) scale(1); } }

.tri:nth-child(11) {
  border-top: 2px solid #ffb700;
  border-top: 2px solid white;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  margin-left: -0.5px;
  margin-top: -0.5px;
  transform: rotate(313deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim11 10s infinite linear;
  animation-delay: 2.2s;
  opacity: 1; }

@keyframes anim11 {
  100% {
    opacity: 1;
    transform: rotate(469.5deg) translate3d(58px, 16px, 1000px) scale(1); } }

.tri:nth-child(12) {
  border-top: 34px solid #ff5e00;
  border-top: 34px solid white;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  margin-left: -8.5px;
  margin-top: -8.5px;
  transform: rotate(259deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim12 10s infinite linear;
  animation-delay: 2.4s;
  opacity: 1; }

@keyframes anim12 {
  100% {
    opacity: 1;
    transform: rotate(388.5deg) translate3d(114px, 801px, 1000px) scale(1); } }

.tri:nth-child(13) {
  border-top: 38px solid #8000ff;
  border-top: 38px solid white;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  margin-left: -9.5px;
  margin-top: -9.5px;
  transform: rotate(263deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim13 10s infinite linear;
  animation-delay: 2.6s;
  opacity: 1; }

@keyframes anim13 {
  100% {
    opacity: 1;
    transform: rotate(394.5deg) translate3d(570px, 618px, 1000px) scale(1); } }

.tri:nth-child(14) {
  border-top: 16px solid #1100ff;
  border-top: 16px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  margin-left: -4px;
  margin-top: -4px;
  transform: rotate(347deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim14 10s infinite linear;
  animation-delay: 2.8s;
  opacity: 1; }

@keyframes anim14 {
  100% {
    opacity: 1;
    transform: rotate(520.5deg) translate3d(824px, 306px, 1000px) scale(1); } }

.tri:nth-child(15) {
  border-top: 20px solid #00d5ff;
  border-top: 20px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  margin-left: -5px;
  margin-top: -5px;
  transform: rotate(126deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim15 10s infinite linear;
  animation-delay: 3s;
  opacity: 1; }

@keyframes anim15 {
  100% {
    opacity: 1;
    transform: rotate(189deg) translate3d(77px, 669px, 1000px) scale(1); } }

.tri:nth-child(16) {
  border-top: 26px solid #b300ff;
  border-top: 26px solid white;
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
  margin-left: -6.5px;
  margin-top: -6.5px;
  transform: rotate(156deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim16 10s infinite linear;
  animation-delay: 3.2s;
  opacity: 1; }

@keyframes anim16 {
  100% {
    opacity: 1;
    transform: rotate(234deg) translate3d(125px, 796px, 1000px) scale(1); } }

.tri:nth-child(17) {
  border-top: 62px solid #00ff11;
  border-top: 62px solid white;
  border-right: 31px solid transparent;
  border-left: 31px solid transparent;
  margin-left: -15.5px;
  margin-top: -15.5px;
  transform: rotate(222deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim17 10s infinite linear;
  animation-delay: 3.4s;
  opacity: 1; }

@keyframes anim17 {
  100% {
    opacity: 1;
    transform: rotate(333deg) translate3d(860px, 852px, 1000px) scale(1); } }

.tri:nth-child(18) {
  border-top: 74px solid #66ff00;
  border-top: 74px solid white;
  border-right: 37px solid transparent;
  border-left: 37px solid transparent;
  margin-left: -18.5px;
  margin-top: -18.5px;
  transform: rotate(51deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim18 10s infinite linear;
  animation-delay: 3.6s;
  opacity: 1; }

@keyframes anim18 {
  100% {
    opacity: 1;
    transform: rotate(76.5deg) translate3d(20px, 408px, 1000px) scale(1); } }

.tri:nth-child(19) {
  border-top: 48px solid #00ccff;
  border-top: 48px solid white;
  border-right: 24px solid transparent;
  border-left: 24px solid transparent;
  margin-left: -12px;
  margin-top: -12px;
  transform: rotate(211deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim19 10s infinite linear;
  animation-delay: 3.8s;
  opacity: 1; }

@keyframes anim19 {
  100% {
    opacity: 1;
    transform: rotate(316.5deg) translate3d(526px, 445px, 1000px) scale(1); } }

.tri:nth-child(20) {
  border-top: 76px solid #ff00bb;
  border-top: 76px solid white;
  border-right: 38px solid transparent;
  border-left: 38px solid transparent;
  margin-left: -19px;
  margin-top: -19px;
  transform: rotate(281deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim20 10s infinite linear;
  animation-delay: 4s;
  opacity: 1; }

@keyframes anim20 {
  100% {
    opacity: 1;
    transform: rotate(421.5deg) translate3d(88px, 881px, 1000px) scale(1); } }

.tri:nth-child(21) {
  border-top: 60px solid #5500ff;
  border-top: 60px solid white;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  margin-left: -15px;
  margin-top: -15px;
  transform: rotate(186deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim21 10s infinite linear;
  animation-delay: 4.2s;
  opacity: 1; }

@keyframes anim21 {
  100% {
    opacity: 1;
    transform: rotate(279deg) translate3d(793px, 399px, 1000px) scale(1); } }

.tri:nth-child(22) {
  border-top: 8px solid #00ff26;
  border-top: 8px solid white;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-left: -2px;
  margin-top: -2px;
  transform: rotate(75deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim22 10s infinite linear;
  animation-delay: 4.4s;
  opacity: 1; }

@keyframes anim22 {
  100% {
    opacity: 1;
    transform: rotate(112.5deg) translate3d(560px, 618px, 1000px) scale(1); } }

.tri:nth-child(23) {
  border-top: 96px solid #2f00ff;
  border-top: 96px solid white;
  border-right: 48px solid transparent;
  border-left: 48px solid transparent;
  margin-left: -24px;
  margin-top: -24px;
  transform: rotate(280deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim23 10s infinite linear;
  animation-delay: 4.6s;
  opacity: 1; }

@keyframes anim23 {
  100% {
    opacity: 1;
    transform: rotate(420deg) translate3d(89px, 935px, 1000px) scale(1); } }

.tri:nth-child(24) {
  border-top: 50px solid #aa00ff;
  border-top: 50px solid white;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  margin-left: -12.5px;
  margin-top: -12.5px;
  transform: rotate(77deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim24 10s infinite linear;
  animation-delay: 4.8s;
  opacity: 1; }

@keyframes anim24 {
  100% {
    opacity: 1;
    transform: rotate(115.5deg) translate3d(455px, 476px, 1000px) scale(1); } }

.tri:nth-child(25) {
  border-top: 64px solid #ff2b00;
  border-top: 64px solid white;
  border-right: 32px solid transparent;
  border-left: 32px solid transparent;
  margin-left: -16px;
  margin-top: -16px;
  transform: rotate(103deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim25 10s infinite linear;
  animation-delay: 5s;
  opacity: 1; }

@keyframes anim25 {
  100% {
    opacity: 1;
    transform: rotate(154.5deg) translate3d(965px, 143px, 1000px) scale(1); } }

.tri:nth-child(26) {
  border-top: 8px solid #ffb300;
  border-top: 8px solid white;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-left: -2px;
  margin-top: -2px;
  transform: rotate(269deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim26 10s infinite linear;
  animation-delay: 5.2s;
  opacity: 1; }

@keyframes anim26 {
  100% {
    opacity: 1;
    transform: rotate(403.5deg) translate3d(55px, 833px, 1000px) scale(1); } }

.tri:nth-child(27) {
  border-top: 80px solid #00fbff;
  border-top: 80px solid white;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  margin-left: -20px;
  margin-top: -20px;
  transform: rotate(108deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim27 10s infinite linear;
  animation-delay: 5.4s;
  opacity: 1; }

@keyframes anim27 {
  100% {
    opacity: 1;
    transform: rotate(162deg) translate3d(737px, 957px, 1000px) scale(1); } }

.tri:nth-child(28) {
  border-top: 12px solid #bf00ff;
  border-top: 12px solid white;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  margin-left: -3px;
  margin-top: -3px;
  transform: rotate(33deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim28 10s infinite linear;
  animation-delay: 5.6s;
  opacity: 1; }

@keyframes anim28 {
  100% {
    opacity: 1;
    transform: rotate(49.5deg) translate3d(875px, 430px, 1000px) scale(1); } }

.tri:nth-child(29) {
  border-top: 4px solid #8000ff;
  border-top: 4px solid white;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  margin-left: -1px;
  margin-top: -1px;
  transform: rotate(271deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim29 10s infinite linear;
  animation-delay: 5.8s;
  opacity: 1; }

@keyframes anim29 {
  100% {
    opacity: 1;
    transform: rotate(406.5deg) translate3d(511px, 981px, 1000px) scale(1); } }

.tri:nth-child(30) {
  border-top: 84px solid #ff006f;
  border-top: 84px solid white;
  border-right: 42px solid transparent;
  border-left: 42px solid transparent;
  margin-left: -21px;
  margin-top: -21px;
  transform: rotate(28deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim30 10s infinite linear;
  animation-delay: 6s;
  opacity: 1; }

@keyframes anim30 {
  100% {
    opacity: 1;
    transform: rotate(42deg) translate3d(28px, 967px, 1000px) scale(1); } }

.tri:nth-child(31) {
  border-top: 98px solid #000dff;
  border-top: 98px solid white;
  border-right: 49px solid transparent;
  border-left: 49px solid transparent;
  margin-left: -24.5px;
  margin-top: -24.5px;
  transform: rotate(3deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim31 10s infinite linear;
  animation-delay: 6.2s;
  opacity: 1; }

@keyframes anim31 {
  100% {
    opacity: 1;
    transform: rotate(4.5deg) translate3d(819px, 81px, 1000px) scale(1); } }

.tri:nth-child(32) {
  border-top: 62px solid #ff0037;
  border-top: 62px solid white;
  border-right: 31px solid transparent;
  border-left: 31px solid transparent;
  margin-left: -15.5px;
  margin-top: -15.5px;
  transform: rotate(219deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim32 10s infinite linear;
  animation-delay: 6.4s;
  opacity: 1; }

@keyframes anim32 {
  100% {
    opacity: 1;
    transform: rotate(328.5deg) translate3d(150px, 846px, 1000px) scale(1); } }

.tri:nth-child(33) {
  border-top: 16px solid #00a6ff;
  border-top: 16px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  margin-left: -4px;
  margin-top: -4px;
  transform: rotate(209deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim33 10s infinite linear;
  animation-delay: 6.6s;
  opacity: 1; }

@keyframes anim33 {
  100% {
    opacity: 1;
    transform: rotate(313.5deg) translate3d(699px, 329px, 1000px) scale(1); } }

.tri:nth-child(34) {
  border-top: 64px solid #37ff00;
  border-top: 64px solid white;
  border-right: 32px solid transparent;
  border-left: 32px solid transparent;
  margin-left: -16px;
  margin-top: -16px;
  transform: rotate(70deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim34 10s infinite linear;
  animation-delay: 6.8s;
  opacity: 1; }

@keyframes anim34 {
  100% {
    opacity: 1;
    transform: rotate(105deg) translate3d(28px, 688px, 1000px) scale(1); } }

.tri:nth-child(35) {
  border-top: 8px solid #005eff;
  border-top: 8px solid white;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-left: -2px;
  margin-top: -2px;
  transform: rotate(321deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim35 10s infinite linear;
  animation-delay: 7s;
  opacity: 1; }

@keyframes anim35 {
  100% {
    opacity: 1;
    transform: rotate(481.5deg) translate3d(898px, 398px, 1000px) scale(1); } }

.tri:nth-child(36) {
  border-top: 28px solid #bbff00;
  border-top: 28px solid white;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
  margin-left: -7px;
  margin-top: -7px;
  transform: rotate(107deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim36 10s infinite linear;
  animation-delay: 7.2s;
  opacity: 1; }

@keyframes anim36 {
  100% {
    opacity: 1;
    transform: rotate(160.5deg) translate3d(619px, 614px, 1000px) scale(1); } }

.tri:nth-child(37) {
  border-top: 16px solid #00ff26;
  border-top: 16px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  margin-left: -4px;
  margin-top: -4px;
  transform: rotate(143deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim37 10s infinite linear;
  animation-delay: 7.4s;
  opacity: 1; }

@keyframes anim37 {
  100% {
    opacity: 1;
    transform: rotate(214.5deg) translate3d(152px, 706px, 1000px) scale(1); } }

.tri:nth-child(38) {
  border-top: 24px solid #00ff77;
  border-top: 24px solid white;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  margin-left: -6px;
  margin-top: -6px;
  transform: rotate(198deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim38 10s infinite linear;
  animation-delay: 7.6s;
  opacity: 1; }

@keyframes anim38 {
  100% {
    opacity: 1;
    transform: rotate(297deg) translate3d(567px, 547px, 1000px) scale(1); } }

.tri:nth-child(39) {
  border-top: 74px solid #00ff88;
  border-top: 74px solid white;
  border-right: 37px solid transparent;
  border-left: 37px solid transparent;
  margin-left: -18.5px;
  margin-top: -18.5px;
  transform: rotate(293deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim39 10s infinite linear;
  animation-delay: 7.8s;
  opacity: 1; }

@keyframes anim39 {
  100% {
    opacity: 1;
    transform: rotate(439.5deg) translate3d(335px, 934px, 1000px) scale(1); } }

.tri:nth-child(40) {
  border-top: 10px solid #51ff00;
  border-top: 10px solid white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  margin-left: -2.5px;
  margin-top: -2.5px;
  transform: rotate(177deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim40 10s infinite linear;
  animation-delay: 8s;
  opacity: 1; }

@keyframes anim40 {
  100% {
    opacity: 1;
    transform: rotate(265.5deg) translate3d(755px, 86px, 1000px) scale(1); } }

.tri:nth-child(41) {
  border-top: 66px solid #0066ff;
  border-top: 66px solid white;
  border-right: 33px solid transparent;
  border-left: 33px solid transparent;
  margin-left: -16.5px;
  margin-top: -16.5px;
  transform: rotate(16deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim41 10s infinite linear;
  animation-delay: 8.2s;
  opacity: 1; }

@keyframes anim41 {
  100% {
    opacity: 1;
    transform: rotate(24deg) translate3d(252px, 402px, 1000px) scale(1); } }

.tri:nth-child(42) {
  border-top: 60px solid #dd00ff;
  border-top: 60px solid white;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  margin-left: -15px;
  margin-top: -15px;
  transform: rotate(143deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim42 10s infinite linear;
  animation-delay: 8.4s;
  opacity: 1; }

@keyframes anim42 {
  100% {
    opacity: 1;
    transform: rotate(214.5deg) translate3d(256px, 617px, 1000px) scale(1); } }

.tri:nth-child(43) {
  border-top: 84px solid #3cff00;
  border-top: 84px solid white;
  border-right: 42px solid transparent;
  border-left: 42px solid transparent;
  margin-left: -21px;
  margin-top: -21px;
  transform: rotate(29deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim43 10s infinite linear;
  animation-delay: 8.6s;
  opacity: 1; }

@keyframes anim43 {
  100% {
    opacity: 1;
    transform: rotate(43.5deg) translate3d(410px, 973px, 1000px) scale(1); } }

.tri:nth-child(44) {
  border-top: 60px solid #ff5e00;
  border-top: 60px solid white;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  margin-left: -15px;
  margin-top: -15px;
  transform: rotate(25deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim44 10s infinite linear;
  animation-delay: 8.8s;
  opacity: 1; }

@keyframes anim44 {
  100% {
    opacity: 1;
    transform: rotate(37.5deg) translate3d(157px, 352px, 1000px) scale(1); } }

.tri:nth-child(45) {
  border-top: 42px solid #0059ff;
  border-top: 42px solid white;
  border-right: 21px solid transparent;
  border-left: 21px solid transparent;
  margin-left: -10.5px;
  margin-top: -10.5px;
  transform: rotate(20deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim45 10s infinite linear;
  animation-delay: 9s;
  opacity: 1; }

@keyframes anim45 {
  100% {
    opacity: 1;
    transform: rotate(30deg) translate3d(727px, 24px, 1000px) scale(1); } }

.tri:nth-child(46) {
  border-top: 34px solid #ff00c4;
  border-top: 34px solid white;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  margin-left: -8.5px;
  margin-top: -8.5px;
  transform: rotate(220deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim46 10s infinite linear;
  animation-delay: 9.2s;
  opacity: 1; }

@keyframes anim46 {
  100% {
    opacity: 1;
    transform: rotate(330deg) translate3d(432px, 368px, 1000px) scale(1); } }

.tri:nth-child(47) {
  border-top: 38px solid #00ff37;
  border-top: 38px solid white;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  margin-left: -9.5px;
  margin-top: -9.5px;
  transform: rotate(145deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim47 10s infinite linear;
  animation-delay: 9.4s;
  opacity: 1; }

@keyframes anim47 {
  100% {
    opacity: 1;
    transform: rotate(217.5deg) translate3d(233px, 281px, 1000px) scale(1); } }

.tri:nth-child(48) {
  border-top: 56px solid #ff4400;
  border-top: 56px solid white;
  border-right: 28px solid transparent;
  border-left: 28px solid transparent;
  margin-left: -14px;
  margin-top: -14px;
  transform: rotate(147deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim48 10s infinite linear;
  animation-delay: 9.6s;
  opacity: 1; }

@keyframes anim48 {
  100% {
    opacity: 1;
    transform: rotate(220.5deg) translate3d(442px, 457px, 1000px) scale(1); } }

.tri:nth-child(49) {
  border-top: 80px solid #ffbf00;
  border-top: 80px solid white;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  margin-left: -20px;
  margin-top: -20px;
  transform: rotate(287deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim49 10s infinite linear;
  animation-delay: 9.8s;
  opacity: 1; }

@keyframes anim49 {
  100% {
    opacity: 1;
    transform: rotate(430.5deg) translate3d(954px, 487px, 1000px) scale(1); } }

.tri:nth-child(50) {
  border-top: 50px solid #b700ff;
  border-top: 50px solid white;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  margin-left: -12.5px;
  margin-top: -12.5px;
  transform: rotate(71deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim50 10s infinite linear;
  animation-delay: 10s;
  opacity: 1; }

@keyframes anim50 {
  100% {
    opacity: 1;
    transform: rotate(106.5deg) translate3d(384px, 283px, 1000px) scale(1); } }

.content-container {
  height: 100%;
  width: 80%;
  max-width: 500px; }

.logo {
  width: 0;
  margin-bottom: -40px; }

.form-container {
  width: 80%;
  margin-top: 50px; }

#email-input {
  box-sizing: border-box;
  opacity: 0;
  border-radius: 6px;
  border-width: 0;
  font-family: 'Manrope';
  font-size: 18px;
  text-align: center; }

.submit {
  opacity: 0;
  margin-left: 5px;
  border-width: 0;
  border-radius: 6px;
  font-family: 'Manrope';
  font-size: 2em;
  font-weight: 600;
  background-color: white; }

.play {
  opacity: 0;
  margin-left: 5px;
  background-color: transparent;
  border-left: 30px solid black;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; }

#email-input:focus {
  outline: none;
  border: 1px solid red; }

.text-container {
  text-align: center; }

.text {
  font-family: 'Manrope';
  font-weight: 500;
  color: white;
  background-image: radial-gradient(ellipse at center, black 0%, transparent 75%);
  text-align: center;
  margin: 15px auto;
  margin-bottom: 0; }

#test {
  color: blue; }

.footer {
  font-family: "Manrope";
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  position: absolute;
  bottom: 0; }

.red {
  color: red; }

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center; }

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards; }

@keyframes fadeIn {
  0% {
    width: 0;
    opacity: 0; }
  100% {
    width: 60%;
    opacity: 1; } }

.stretch {
  animation-name: stretch;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-fill-mode: forwards; }

@keyframes stretch {
  0% {
    width: 0;
    opacity: 0;
    padding: 0; }
  100% {
    width: 100%;
    opacity: 1;
    padding: 10px; } }

.appear {
  animation-name: appear;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards; }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.play-animate {
  animation-name: play-animate;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards; }

@keyframes play-animate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.slideInUp {
  animation-name: slideInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1.5s; }

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.slideInDown {
  animation-name: slideInDown;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-delay: 4s; }

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@media only screen and (max-width: 768px) {
  @keyframes stretch {
    0% {
      width: 0;
      opacity: 0;
      padding: 0; }
    100% {
      width: 100%;
      opacity: 1;
      padding: 5px; } }
  .play {
    opacity: 0;
    margin-left: 5px;
    background-color: transparent;
    border-left: 20px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; } }
