html, body, .wrap {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden; }

.wrap {
  transform-style: preserve-3d;
  perspective: 500px;
  overflow: hidden; }

.tri {
  position: absolute;
  top: 50%;
  left: 50%; }

.tri:nth-child(1) {
  border-top: 44px solid #00ff3c;
  border-top: 44px solid white;
  border-right: 22px solid transparent;
  border-left: 22px solid transparent;
  margin-left: -11px;
  margin-top: -11px;
  transform: rotate(143deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim1 10s infinite linear;
  animation-delay: 0.2s;
  opacity: 1; }

@keyframes anim1 {
  100% {
    opacity: 1;
    transform: rotate(214.5deg) translate3d(143px, 247px, 1000px) scale(1); } }

.tri:nth-child(2) {
  border-top: 48px solid #0026ff;
  border-top: 48px solid white;
  border-right: 24px solid transparent;
  border-left: 24px solid transparent;
  margin-left: -12px;
  margin-top: -12px;
  transform: rotate(189deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim2 10s infinite linear;
  animation-delay: 0.4s;
  opacity: 1; }

@keyframes anim2 {
  100% {
    opacity: 1;
    transform: rotate(283.5deg) translate3d(716px, 730px, 1000px) scale(1); } }

.tri:nth-child(3) {
  border-top: 76px solid #4400ff;
  border-top: 76px solid white;
  border-right: 38px solid transparent;
  border-left: 38px solid transparent;
  margin-left: -19px;
  margin-top: -19px;
  transform: rotate(168deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim3 10s infinite linear;
  animation-delay: 0.6s;
  opacity: 1; }

@keyframes anim3 {
  100% {
    opacity: 1;
    transform: rotate(252deg) translate3d(114px, 872px, 1000px) scale(1); } }

.tri:nth-child(4) {
  border-top: 42px solid #2f00ff;
  border-top: 42px solid white;
  border-right: 21px solid transparent;
  border-left: 21px solid transparent;
  margin-left: -10.5px;
  margin-top: -10.5px;
  transform: rotate(128deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim4 10s infinite linear;
  animation-delay: 0.8s;
  opacity: 1; }

@keyframes anim4 {
  100% {
    opacity: 1;
    transform: rotate(192deg) translate3d(907px, 11px, 1000px) scale(1); } }

.tri:nth-child(5) {
  border-top: 66px solid #6600ff;
  border-top: 66px solid white;
  border-right: 33px solid transparent;
  border-left: 33px solid transparent;
  margin-left: -16.5px;
  margin-top: -16.5px;
  transform: rotate(10deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim5 10s infinite linear;
  animation-delay: 1s;
  opacity: 1; }

@keyframes anim5 {
  100% {
    opacity: 1;
    transform: rotate(15deg) translate3d(674px, 80px, 1000px) scale(1); } }

.tri:nth-child(6) {
  border-top: 16px solid #001eff;
  border-top: 16px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  margin-left: -4px;
  margin-top: -4px;
  transform: rotate(54deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim6 10s infinite linear;
  animation-delay: 1.2s;
  opacity: 1; }

@keyframes anim6 {
  100% {
    opacity: 1;
    transform: rotate(81deg) translate3d(270px, 55px, 1000px) scale(1); } }

.tri:nth-child(7) {
  border-top: 26px solid magenta;
  border-top: 26px solid white;
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
  margin-left: -6.5px;
  margin-top: -6.5px;
  transform: rotate(135deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim7 10s infinite linear;
  animation-delay: 1.4s;
  opacity: 1; }

@keyframes anim7 {
  100% {
    opacity: 1;
    transform: rotate(202.5deg) translate3d(25px, 685px, 1000px) scale(1); } }

.tri:nth-child(8) {
  border-top: 48px solid #ff2b00;
  border-top: 48px solid white;
  border-right: 24px solid transparent;
  border-left: 24px solid transparent;
  margin-left: -12px;
  margin-top: -12px;
  transform: rotate(156deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim8 10s infinite linear;
  animation-delay: 1.6s;
  opacity: 1; }

@keyframes anim8 {
  100% {
    opacity: 1;
    transform: rotate(234deg) translate3d(961px, 231px, 1000px) scale(1); } }

.tri:nth-child(9) {
  border-top: 30px solid #00c8ff;
  border-top: 30px solid white;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  margin-left: -7.5px;
  margin-top: -7.5px;
  transform: rotate(94deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim9 10s infinite linear;
  animation-delay: 1.8s;
  opacity: 1; }

@keyframes anim9 {
  100% {
    opacity: 1;
    transform: rotate(141deg) translate3d(682px, 994px, 1000px) scale(1); } }

.tri:nth-child(10) {
  border-top: 4px solid #6a00ff;
  border-top: 4px solid white;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  margin-left: -1px;
  margin-top: -1px;
  transform: rotate(312deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim10 10s infinite linear;
  animation-delay: 2s;
  opacity: 1; }

@keyframes anim10 {
  100% {
    opacity: 1;
    transform: rotate(468deg) translate3d(281px, 995px, 1000px) scale(1); } }

.tri:nth-child(11) {
  border-top: 80px solid #00aaff;
  border-top: 80px solid white;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  margin-left: -20px;
  margin-top: -20px;
  transform: rotate(56deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim11 10s infinite linear;
  animation-delay: 2.2s;
  opacity: 1; }

@keyframes anim11 {
  100% {
    opacity: 1;
    transform: rotate(84deg) translate3d(775px, 13px, 1000px) scale(1); } }

.tri:nth-child(12) {
  border-top: 100px solid #15ff00;
  border-top: 100px solid white;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  margin-left: -25px;
  margin-top: -25px;
  transform: rotate(155deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim12 10s infinite linear;
  animation-delay: 2.4s;
  opacity: 1; }

@keyframes anim12 {
  100% {
    opacity: 1;
    transform: rotate(232.5deg) translate3d(670px, 216px, 1000px) scale(1); } }

.tri:nth-child(13) {
  border-top: 96px solid #ff8400;
  border-top: 96px solid white;
  border-right: 48px solid transparent;
  border-left: 48px solid transparent;
  margin-left: -24px;
  margin-top: -24px;
  transform: rotate(214deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim13 10s infinite linear;
  animation-delay: 2.6s;
  opacity: 1; }

@keyframes anim13 {
  100% {
    opacity: 1;
    transform: rotate(321deg) translate3d(934px, 515px, 1000px) scale(1); } }

.tri:nth-child(14) {
  border-top: 66px solid #ff1100;
  border-top: 66px solid white;
  border-right: 33px solid transparent;
  border-left: 33px solid transparent;
  margin-left: -16.5px;
  margin-top: -16.5px;
  transform: rotate(201deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim14 10s infinite linear;
  animation-delay: 2.8s;
  opacity: 1; }

@keyframes anim14 {
  100% {
    opacity: 1;
    transform: rotate(301.5deg) translate3d(567px, 309px, 1000px) scale(1); } }

.tri:nth-child(15) {
  border-top: 46px solid #4d00ff;
  border-top: 46px solid white;
  border-right: 23px solid transparent;
  border-left: 23px solid transparent;
  margin-left: -11.5px;
  margin-top: -11.5px;
  transform: rotate(206deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim15 10s infinite linear;
  animation-delay: 3s;
  opacity: 1; }

@keyframes anim15 {
  100% {
    opacity: 1;
    transform: rotate(309deg) translate3d(546px, 36px, 1000px) scale(1); } }

.tri:nth-child(16) {
  border-top: 12px solid #001aff;
  border-top: 12px solid white;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  margin-left: -3px;
  margin-top: -3px;
  transform: rotate(258deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim16 10s infinite linear;
  animation-delay: 3.2s;
  opacity: 1; }

@keyframes anim16 {
  100% {
    opacity: 1;
    transform: rotate(387deg) translate3d(615px, 960px, 1000px) scale(1); } }

.tri:nth-child(17) {
  border-top: 88px solid #00ffdd;
  border-top: 88px solid white;
  border-right: 44px solid transparent;
  border-left: 44px solid transparent;
  margin-left: -22px;
  margin-top: -22px;
  transform: rotate(131deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim17 10s infinite linear;
  animation-delay: 3.4s;
  opacity: 1; }

@keyframes anim17 {
  100% {
    opacity: 1;
    transform: rotate(196.5deg) translate3d(758px, 90px, 1000px) scale(1); } }

.tri:nth-child(18) {
  border-top: 22px solid #ff006a;
  border-top: 22px solid white;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
  margin-left: -5.5px;
  margin-top: -5.5px;
  transform: rotate(92deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim18 10s infinite linear;
  animation-delay: 3.6s;
  opacity: 1; }

@keyframes anim18 {
  100% {
    opacity: 1;
    transform: rotate(138deg) translate3d(229px, 923px, 1000px) scale(1); } }

.tri:nth-child(19) {
  border-top: 28px solid #ff8400;
  border-top: 28px solid white;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
  margin-left: -7px;
  margin-top: -7px;
  transform: rotate(64deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim19 10s infinite linear;
  animation-delay: 3.8s;
  opacity: 1; }

@keyframes anim19 {
  100% {
    opacity: 1;
    transform: rotate(96deg) translate3d(204px, 480px, 1000px) scale(1); } }

.tri:nth-child(20) {
  border-top: 70px solid #00ff2b;
  border-top: 70px solid white;
  border-right: 35px solid transparent;
  border-left: 35px solid transparent;
  margin-left: -17.5px;
  margin-top: -17.5px;
  transform: rotate(270deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim20 10s infinite linear;
  animation-delay: 4s;
  opacity: 1; }

@keyframes anim20 {
  100% {
    opacity: 1;
    transform: rotate(405deg) translate3d(804px, 531px, 1000px) scale(1); } }

.tri:nth-child(21) {
  border-top: 26px solid #ffd900;
  border-top: 26px solid white;
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
  margin-left: -6.5px;
  margin-top: -6.5px;
  transform: rotate(50deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim21 10s infinite linear;
  animation-delay: 4.2s;
  opacity: 1; }

@keyframes anim21 {
  100% {
    opacity: 1;
    transform: rotate(75deg) translate3d(981px, 434px, 1000px) scale(1); } }

.tri:nth-child(22) {
  border-top: 42px solid #5e00ff;
  border-top: 42px solid white;
  border-right: 21px solid transparent;
  border-left: 21px solid transparent;
  margin-left: -10.5px;
  margin-top: -10.5px;
  transform: rotate(248deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim22 10s infinite linear;
  animation-delay: 4.4s;
  opacity: 1; }

@keyframes anim22 {
  100% {
    opacity: 1;
    transform: rotate(372deg) translate3d(292px, 200px, 1000px) scale(1); } }

.tri:nth-child(23) {
  border-top: 38px solid #0099ff;
  border-top: 38px solid white;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  margin-left: -9.5px;
  margin-top: -9.5px;
  transform: rotate(242deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim23 10s infinite linear;
  animation-delay: 4.6s;
  opacity: 1; }

@keyframes anim23 {
  100% {
    opacity: 1;
    transform: rotate(363deg) translate3d(984px, 929px, 1000px) scale(1); } }

.tri:nth-child(24) {
  border-top: 98px solid #00ffe6;
  border-top: 98px solid white;
  border-right: 49px solid transparent;
  border-left: 49px solid transparent;
  margin-left: -24.5px;
  margin-top: -24.5px;
  transform: rotate(297deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim24 10s infinite linear;
  animation-delay: 4.8s;
  opacity: 1; }

@keyframes anim24 {
  100% {
    opacity: 1;
    transform: rotate(445.5deg) translate3d(373px, 218px, 1000px) scale(1); } }

.tri:nth-child(25) {
  border-top: 42px solid #ff00b3;
  border-top: 42px solid white;
  border-right: 21px solid transparent;
  border-left: 21px solid transparent;
  margin-left: -10.5px;
  margin-top: -10.5px;
  transform: rotate(235deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim25 10s infinite linear;
  animation-delay: 5s;
  opacity: 1; }

@keyframes anim25 {
  100% {
    opacity: 1;
    transform: rotate(352.5deg) translate3d(621px, 339px, 1000px) scale(1); } }

.tri:nth-child(26) {
  border-top: 58px solid #ff0062;
  border-top: 58px solid white;
  border-right: 29px solid transparent;
  border-left: 29px solid transparent;
  margin-left: -14.5px;
  margin-top: -14.5px;
  transform: rotate(360deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim26 10s infinite linear;
  animation-delay: 5.2s;
  opacity: 1; }

@keyframes anim26 {
  100% {
    opacity: 1;
    transform: rotate(540deg) translate3d(351px, 116px, 1000px) scale(1); } }

.tri:nth-child(27) {
  border-top: 98px solid #00ff5e;
  border-top: 98px solid white;
  border-right: 49px solid transparent;
  border-left: 49px solid transparent;
  margin-left: -24.5px;
  margin-top: -24.5px;
  transform: rotate(94deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim27 10s infinite linear;
  animation-delay: 5.4s;
  opacity: 1; }

@keyframes anim27 {
  100% {
    opacity: 1;
    transform: rotate(141deg) translate3d(597px, 804px, 1000px) scale(1); } }

.tri:nth-child(28) {
  border-top: 4px solid #ddff00;
  border-top: 4px solid white;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  margin-left: -1px;
  margin-top: -1px;
  transform: rotate(94deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim28 10s infinite linear;
  animation-delay: 5.6s;
  opacity: 1; }

@keyframes anim28 {
  100% {
    opacity: 1;
    transform: rotate(141deg) translate3d(23px, 860px, 1000px) scale(1); } }

.tri:nth-child(29) {
  border-top: 34px solid yellow;
  border-top: 34px solid white;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  margin-left: -8.5px;
  margin-top: -8.5px;
  transform: rotate(90deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim29 10s infinite linear;
  animation-delay: 5.8s;
  opacity: 1; }

@keyframes anim29 {
  100% {
    opacity: 1;
    transform: rotate(135deg) translate3d(250px, 971px, 1000px) scale(1); } }

.tri:nth-child(30) {
  border-top: 38px solid #b300ff;
  border-top: 38px solid white;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  margin-left: -9.5px;
  margin-top: -9.5px;
  transform: rotate(226deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim30 10s infinite linear;
  animation-delay: 6s;
  opacity: 1; }

@keyframes anim30 {
  100% {
    opacity: 1;
    transform: rotate(339deg) translate3d(387px, 191px, 1000px) scale(1); } }

.tri:nth-child(31) {
  border-top: 90px solid #ff0055;
  border-top: 90px solid white;
  border-right: 45px solid transparent;
  border-left: 45px solid transparent;
  margin-left: -22.5px;
  margin-top: -22.5px;
  transform: rotate(206deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim31 10s infinite linear;
  animation-delay: 6.2s;
  opacity: 1; }

@keyframes anim31 {
  100% {
    opacity: 1;
    transform: rotate(309deg) translate3d(408px, 941px, 1000px) scale(1); } }

.tri:nth-child(32) {
  border-top: 12px solid #ffb300;
  border-top: 12px solid white;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  margin-left: -3px;
  margin-top: -3px;
  transform: rotate(41deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim32 10s infinite linear;
  animation-delay: 6.4s;
  opacity: 1; }

@keyframes anim32 {
  100% {
    opacity: 1;
    transform: rotate(61.5deg) translate3d(530px, 468px, 1000px) scale(1); } }

.tri:nth-child(33) {
  border-top: 10px solid #ffb300;
  border-top: 10px solid white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  margin-left: -2.5px;
  margin-top: -2.5px;
  transform: rotate(13deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim33 10s infinite linear;
  animation-delay: 6.6s;
  opacity: 1; }

@keyframes anim33 {
  100% {
    opacity: 1;
    transform: rotate(19.5deg) translate3d(851px, 945px, 1000px) scale(1); } }

.tri:nth-child(34) {
  border-top: 86px solid #ff6600;
  border-top: 86px solid white;
  border-right: 43px solid transparent;
  border-left: 43px solid transparent;
  margin-left: -21.5px;
  margin-top: -21.5px;
  transform: rotate(270deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim34 10s infinite linear;
  animation-delay: 6.8s;
  opacity: 1; }

@keyframes anim34 {
  100% {
    opacity: 1;
    transform: rotate(405deg) translate3d(390px, 405px, 1000px) scale(1); } }

.tri:nth-child(35) {
  border-top: 62px solid #a200ff;
  border-top: 62px solid white;
  border-right: 31px solid transparent;
  border-left: 31px solid transparent;
  margin-left: -15.5px;
  margin-top: -15.5px;
  transform: rotate(247deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim35 10s infinite linear;
  animation-delay: 7s;
  opacity: 1; }

@keyframes anim35 {
  100% {
    opacity: 1;
    transform: rotate(370.5deg) translate3d(783px, 398px, 1000px) scale(1); } }

.tri:nth-child(36) {
  border-top: 54px solid #00f2ff;
  border-top: 54px solid white;
  border-right: 27px solid transparent;
  border-left: 27px solid transparent;
  margin-left: -13.5px;
  margin-top: -13.5px;
  transform: rotate(163deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim36 10s infinite linear;
  animation-delay: 7.2s;
  opacity: 1; }

@keyframes anim36 {
  100% {
    opacity: 1;
    transform: rotate(244.5deg) translate3d(792px, 637px, 1000px) scale(1); } }

.tri:nth-child(37) {
  border-top: 38px solid #26ff00;
  border-top: 38px solid white;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  margin-left: -9.5px;
  margin-top: -9.5px;
  transform: rotate(305deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim37 10s infinite linear;
  animation-delay: 7.4s;
  opacity: 1; }

@keyframes anim37 {
  100% {
    opacity: 1;
    transform: rotate(457.5deg) translate3d(892px, 777px, 1000px) scale(1); } }

.tri:nth-child(38) {
  border-top: 58px solid #2600ff;
  border-top: 58px solid white;
  border-right: 29px solid transparent;
  border-left: 29px solid transparent;
  margin-left: -14.5px;
  margin-top: -14.5px;
  transform: rotate(142deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim38 10s infinite linear;
  animation-delay: 7.6s;
  opacity: 1; }

@keyframes anim38 {
  100% {
    opacity: 1;
    transform: rotate(213deg) translate3d(527px, 657px, 1000px) scale(1); } }

.tri:nth-child(39) {
  border-top: 98px solid #ff00c4;
  border-top: 98px solid white;
  border-right: 49px solid transparent;
  border-left: 49px solid transparent;
  margin-left: -24.5px;
  margin-top: -24.5px;
  transform: rotate(315deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim39 10s infinite linear;
  animation-delay: 7.8s;
  opacity: 1; }

@keyframes anim39 {
  100% {
    opacity: 1;
    transform: rotate(472.5deg) translate3d(461px, 728px, 1000px) scale(1); } }

.tri:nth-child(40) {
  border-top: 22px solid #2600ff;
  border-top: 22px solid white;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
  margin-left: -5.5px;
  margin-top: -5.5px;
  transform: rotate(177deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim40 10s infinite linear;
  animation-delay: 8s;
  opacity: 1; }

@keyframes anim40 {
  100% {
    opacity: 1;
    transform: rotate(265.5deg) translate3d(366px, 959px, 1000px) scale(1); } }

.tri:nth-child(41) {
  border-top: 14px solid #ff0040;
  border-top: 14px solid white;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  margin-left: -3.5px;
  margin-top: -3.5px;
  transform: rotate(314deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim41 10s infinite linear;
  animation-delay: 8.2s;
  opacity: 1; }

@keyframes anim41 {
  100% {
    opacity: 1;
    transform: rotate(471deg) translate3d(187px, 659px, 1000px) scale(1); } }

.tri:nth-child(42) {
  border-top: 56px solid #c4ff00;
  border-top: 56px solid white;
  border-right: 28px solid transparent;
  border-left: 28px solid transparent;
  margin-left: -14px;
  margin-top: -14px;
  transform: rotate(268deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim42 10s infinite linear;
  animation-delay: 8.4s;
  opacity: 1; }

@keyframes anim42 {
  100% {
    opacity: 1;
    transform: rotate(402deg) translate3d(992px, 225px, 1000px) scale(1); } }

.tri:nth-child(43) {
  border-top: 88px solid #00ff5e;
  border-top: 88px solid white;
  border-right: 44px solid transparent;
  border-left: 44px solid transparent;
  margin-left: -22px;
  margin-top: -22px;
  transform: rotate(154deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim43 10s infinite linear;
  animation-delay: 8.6s;
  opacity: 1; }

@keyframes anim43 {
  100% {
    opacity: 1;
    transform: rotate(231deg) translate3d(888px, 574px, 1000px) scale(1); } }

.tri:nth-child(44) {
  border-top: 34px solid #ffe100;
  border-top: 34px solid white;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  margin-left: -8.5px;
  margin-top: -8.5px;
  transform: rotate(342deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim44 10s infinite linear;
  animation-delay: 8.8s;
  opacity: 1; }

@keyframes anim44 {
  100% {
    opacity: 1;
    transform: rotate(513deg) translate3d(427px, 629px, 1000px) scale(1); } }

.tri:nth-child(45) {
  border-top: 82px solid #00ffa6;
  border-top: 82px solid white;
  border-right: 41px solid transparent;
  border-left: 41px solid transparent;
  margin-left: -20.5px;
  margin-top: -20.5px;
  transform: rotate(5deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim45 10s infinite linear;
  animation-delay: 9s;
  opacity: 1; }

@keyframes anim45 {
  100% {
    opacity: 1;
    transform: rotate(7.5deg) translate3d(206px, 221px, 1000px) scale(1); } }

.tri:nth-child(46) {
  border-top: 14px solid #006aff;
  border-top: 14px solid white;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  margin-left: -3.5px;
  margin-top: -3.5px;
  transform: rotate(145deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim46 10s infinite linear;
  animation-delay: 9.2s;
  opacity: 1; }

@keyframes anim46 {
  100% {
    opacity: 1;
    transform: rotate(217.5deg) translate3d(584px, 309px, 1000px) scale(1); } }

.tri:nth-child(47) {
  border-top: 4px solid #0d00ff;
  border-top: 4px solid white;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  margin-left: -1px;
  margin-top: -1px;
  transform: rotate(60deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim47 10s infinite linear;
  animation-delay: 9.4s;
  opacity: 1; }

@keyframes anim47 {
  100% {
    opacity: 1;
    transform: rotate(90deg) translate3d(896px, 380px, 1000px) scale(1); } }

.tri:nth-child(48) {
  border-top: 76px solid #bfff00;
  border-top: 76px solid white;
  border-right: 38px solid transparent;
  border-left: 38px solid transparent;
  margin-left: -19px;
  margin-top: -19px;
  transform: rotate(182deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim48 10s infinite linear;
  animation-delay: 9.6s;
  opacity: 1; }

@keyframes anim48 {
  100% {
    opacity: 1;
    transform: rotate(273deg) translate3d(204px, 147px, 1000px) scale(1); } }

.tri:nth-child(49) {
  border-top: 94px solid #ff3700;
  border-top: 94px solid white;
  border-right: 47px solid transparent;
  border-left: 47px solid transparent;
  margin-left: -23.5px;
  margin-top: -23.5px;
  transform: rotate(41deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim49 10s infinite linear;
  animation-delay: 9.8s;
  opacity: 1; }

@keyframes anim49 {
  100% {
    opacity: 1;
    transform: rotate(61.5deg) translate3d(972px, 299px, 1000px) scale(1); } }

.tri:nth-child(50) {
  border-top: 58px solid #00ffe1;
  border-top: 58px solid white;
  border-right: 29px solid transparent;
  border-left: 29px solid transparent;
  margin-left: -14.5px;
  margin-top: -14.5px;
  transform: rotate(345deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim50 10s infinite linear;
  animation-delay: 10s;
  opacity: 1; }

@keyframes anim50 {
  100% {
    opacity: 1;
    transform: rotate(517.5deg) translate3d(565px, 740px, 1000px) scale(1); } }

.content-container {
  height: 100%;
  width: 80%;
  max-width: 500px; }

.logo {
  width: 0;
  margin-bottom: -40px; }

.form-container {
  width: 80%;
  margin-top: 50px; }

#mc_embed_signup {
  width: 80%;
  margin-top: 50px; }

#email-input {
  box-sizing: border-box;
  opacity: 0;
  border-radius: 6px;
  border-width: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  text-align: center; }

.email {
  box-sizing: border-box;
  opacity: 0;
  border-radius: 6px;
  border-width: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  text-align: center; }

.submit {
  opacity: 0;
  margin-left: 5px;
  border-width: 0;
  border-radius: 6px;
  font-family: 'Manrope', sans-serif;
  font-size: 2em;
  font-weight: 600;
  background-color: white; }

.button {
  opacity: 0;
  margin-left: 5px;
  border-width: 0;
  border-radius: 6px;
  font-family: 'Manrope', sans-serif;
  font-size: 2em;
  font-weight: 600;
  background-color: white; }

.play {
  opacity: 0;
  margin-left: 5px;
  background-color: transparent;
  border-left: 30px solid black;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; }

#email-input:focus {
  outline: none;
  border: 1px solid red; }

.email:focus {
  outline: none;
  border: 1px solid red; }

.text-container {
  text-align: center; }

.text {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  color: white;
  background-image: radial-gradient(ellipse at center, black 0%, transparent 75%);
  text-align: center;
  margin: 15px auto;
  margin-bottom: 0; }

#test {
  color: blue; }

.footer {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  position: absolute;
  bottom: 0; }

.red {
  color: red; }

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center; }

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }

.width-100 {
  width: 100%; }

.clear {
  background-color: green; }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards; }

@keyframes fadeIn {
  0% {
    width: 0;
    opacity: 0; }
  100% {
    width: 60%;
    opacity: 1; } }

.stretch {
  animation-name: stretch;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-fill-mode: forwards; }

@keyframes stretch {
  0% {
    width: 0;
    opacity: 0;
    padding: 0; }
  100% {
    width: 100%;
    opacity: 1;
    padding: 10px; } }

.appear {
  animation-name: appear;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards; }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.play-animate {
  animation-name: play-animate;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards; }

@keyframes play-animate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.slideInUp {
  animation-name: slideInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1.5s; }

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.slideInDown {
  animation-name: slideInDown;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-delay: 4s; }

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@media only screen and (max-width: 768px) {
  @keyframes stretch {
    0% {
      width: 0;
      opacity: 0;
      padding: 0; }
    100% {
      width: 100%;
      opacity: 1;
      padding: 5px; } }
  .play {
    opacity: 0;
    margin-left: 5px;
    background-color: transparent;
    border-left: 20px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; } }
