html, body, .wrap {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden; }

.wrap {
  transform-style: preserve-3d;
  perspective: 500px;
  overflow: hidden; }

.tri {
  position: absolute;
  top: 50%;
  left: 50%; }

.tri:nth-child(1) {
  border-top: 14px solid #00ff8c;
  border-top: 14px solid white;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  margin-left: -3.5px;
  margin-top: -3.5px;
  transform: rotate(142deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim1 10s infinite linear;
  animation-delay: 0.2s;
  opacity: 1; }

@keyframes anim1 {
  100% {
    opacity: 1;
    transform: rotate(213deg) translate3d(121px, 115px, 1000px) scale(1); } }

.tri:nth-child(2) {
  border-top: 22px solid #ff0080;
  border-top: 22px solid white;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
  margin-left: -5.5px;
  margin-top: -5.5px;
  transform: rotate(121deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim2 10s infinite linear;
  animation-delay: 0.4s;
  opacity: 1; }

@keyframes anim2 {
  100% {
    opacity: 1;
    transform: rotate(181.5deg) translate3d(357px, 598px, 1000px) scale(1); } }

.tri:nth-child(3) {
  border-top: 12px solid #ff0091;
  border-top: 12px solid white;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  margin-left: -3px;
  margin-top: -3px;
  transform: rotate(280deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim3 10s infinite linear;
  animation-delay: 0.6s;
  opacity: 1; }

@keyframes anim3 {
  100% {
    opacity: 1;
    transform: rotate(420deg) translate3d(355px, 165px, 1000px) scale(1); } }

.tri:nth-child(4) {
  border-top: 76px solid #ff3700;
  border-top: 76px solid white;
  border-right: 38px solid transparent;
  border-left: 38px solid transparent;
  margin-left: -19px;
  margin-top: -19px;
  transform: rotate(93deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim4 10s infinite linear;
  animation-delay: 0.8s;
  opacity: 1; }

@keyframes anim4 {
  100% {
    opacity: 1;
    transform: rotate(139.5deg) translate3d(684px, 506px, 1000px) scale(1); } }

.tri:nth-child(5) {
  border-top: 52px solid #0026ff;
  border-top: 52px solid white;
  border-right: 26px solid transparent;
  border-left: 26px solid transparent;
  margin-left: -13px;
  margin-top: -13px;
  transform: rotate(352deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim5 10s infinite linear;
  animation-delay: 1s;
  opacity: 1; }

@keyframes anim5 {
  100% {
    opacity: 1;
    transform: rotate(528deg) translate3d(291px, 494px, 1000px) scale(1); } }

.tri:nth-child(6) {
  border-top: 10px solid #5eff00;
  border-top: 10px solid white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  margin-left: -2.5px;
  margin-top: -2.5px;
  transform: rotate(43deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim6 10s infinite linear;
  animation-delay: 1.2s;
  opacity: 1; }

@keyframes anim6 {
  100% {
    opacity: 1;
    transform: rotate(64.5deg) translate3d(29px, 999px, 1000px) scale(1); } }

.tri:nth-child(7) {
  border-top: 62px solid #00ffdd;
  border-top: 62px solid white;
  border-right: 31px solid transparent;
  border-left: 31px solid transparent;
  margin-left: -15.5px;
  margin-top: -15.5px;
  transform: rotate(263deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim7 10s infinite linear;
  animation-delay: 1.4s;
  opacity: 1; }

@keyframes anim7 {
  100% {
    opacity: 1;
    transform: rotate(394.5deg) translate3d(50px, 945px, 1000px) scale(1); } }

.tri:nth-child(8) {
  border-top: 20px solid #d0ff00;
  border-top: 20px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  margin-left: -5px;
  margin-top: -5px;
  transform: rotate(204deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim8 10s infinite linear;
  animation-delay: 1.6s;
  opacity: 1; }

@keyframes anim8 {
  100% {
    opacity: 1;
    transform: rotate(306deg) translate3d(781px, 593px, 1000px) scale(1); } }

.tri:nth-child(9) {
  border-top: 96px solid #8cff00;
  border-top: 96px solid white;
  border-right: 48px solid transparent;
  border-left: 48px solid transparent;
  margin-left: -24px;
  margin-top: -24px;
  transform: rotate(24deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim9 10s infinite linear;
  animation-delay: 1.8s;
  opacity: 1; }

@keyframes anim9 {
  100% {
    opacity: 1;
    transform: rotate(36deg) translate3d(424px, 751px, 1000px) scale(1); } }

.tri:nth-child(10) {
  border-top: 40px solid #00ddff;
  border-top: 40px solid white;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  margin-left: -10px;
  margin-top: -10px;
  transform: rotate(286deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim10 10s infinite linear;
  animation-delay: 2s;
  opacity: 1; }

@keyframes anim10 {
  100% {
    opacity: 1;
    transform: rotate(429deg) translate3d(518px, 501px, 1000px) scale(1); } }

.tri:nth-child(11) {
  border-top: 32px solid #00e1ff;
  border-top: 32px solid white;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  margin-left: -8px;
  margin-top: -8px;
  transform: rotate(352deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim11 10s infinite linear;
  animation-delay: 2.2s;
  opacity: 1; }

@keyframes anim11 {
  100% {
    opacity: 1;
    transform: rotate(528deg) translate3d(595px, 792px, 1000px) scale(1); } }

.tri:nth-child(12) {
  border-top: 4px solid #e600ff;
  border-top: 4px solid white;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  margin-left: -1px;
  margin-top: -1px;
  transform: rotate(294deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim12 10s infinite linear;
  animation-delay: 2.4s;
  opacity: 1; }

@keyframes anim12 {
  100% {
    opacity: 1;
    transform: rotate(441deg) translate3d(290px, 405px, 1000px) scale(1); } }

.tri:nth-child(13) {
  border-top: 38px solid #0095ff;
  border-top: 38px solid white;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  margin-left: -9.5px;
  margin-top: -9.5px;
  transform: rotate(44deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim13 10s infinite linear;
  animation-delay: 2.6s;
  opacity: 1; }

@keyframes anim13 {
  100% {
    opacity: 1;
    transform: rotate(66deg) translate3d(994px, 845px, 1000px) scale(1); } }

.tri:nth-child(14) {
  border-top: 82px solid #ccff00;
  border-top: 82px solid white;
  border-right: 41px solid transparent;
  border-left: 41px solid transparent;
  margin-left: -20.5px;
  margin-top: -20.5px;
  transform: rotate(350deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim14 10s infinite linear;
  animation-delay: 2.8s;
  opacity: 1; }

@keyframes anim14 {
  100% {
    opacity: 1;
    transform: rotate(525deg) translate3d(95px, 795px, 1000px) scale(1); } }

.tri:nth-child(15) {
  border-top: 62px solid #ff2600;
  border-top: 62px solid white;
  border-right: 31px solid transparent;
  border-left: 31px solid transparent;
  margin-left: -15.5px;
  margin-top: -15.5px;
  transform: rotate(138deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim15 10s infinite linear;
  animation-delay: 3s;
  opacity: 1; }

@keyframes anim15 {
  100% {
    opacity: 1;
    transform: rotate(207deg) translate3d(343px, 886px, 1000px) scale(1); } }

.tri:nth-child(16) {
  border-top: 68px solid #9dff00;
  border-top: 68px solid white;
  border-right: 34px solid transparent;
  border-left: 34px solid transparent;
  margin-left: -17px;
  margin-top: -17px;
  transform: rotate(274deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim16 10s infinite linear;
  animation-delay: 3.2s;
  opacity: 1; }

@keyframes anim16 {
  100% {
    opacity: 1;
    transform: rotate(411deg) translate3d(350px, 465px, 1000px) scale(1); } }

.tri:nth-child(17) {
  border-top: 54px solid #ff8400;
  border-top: 54px solid white;
  border-right: 27px solid transparent;
  border-left: 27px solid transparent;
  margin-left: -13.5px;
  margin-top: -13.5px;
  transform: rotate(66deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim17 10s infinite linear;
  animation-delay: 3.4s;
  opacity: 1; }

@keyframes anim17 {
  100% {
    opacity: 1;
    transform: rotate(99deg) translate3d(897px, 523px, 1000px) scale(1); } }

.tri:nth-child(18) {
  border-top: 88px solid #ffaa00;
  border-top: 88px solid white;
  border-right: 44px solid transparent;
  border-left: 44px solid transparent;
  margin-left: -22px;
  margin-top: -22px;
  transform: rotate(116deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim18 10s infinite linear;
  animation-delay: 3.6s;
  opacity: 1; }

@keyframes anim18 {
  100% {
    opacity: 1;
    transform: rotate(174deg) translate3d(907px, 54px, 1000px) scale(1); } }

.tri:nth-child(19) {
  border-top: 12px solid #ff00fb;
  border-top: 12px solid white;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  margin-left: -3px;
  margin-top: -3px;
  transform: rotate(192deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim19 10s infinite linear;
  animation-delay: 3.8s;
  opacity: 1; }

@keyframes anim19 {
  100% {
    opacity: 1;
    transform: rotate(288deg) translate3d(889px, 846px, 1000px) scale(1); } }

.tri:nth-child(20) {
  border-top: 98px solid #ff004d;
  border-top: 98px solid white;
  border-right: 49px solid transparent;
  border-left: 49px solid transparent;
  margin-left: -24.5px;
  margin-top: -24.5px;
  transform: rotate(38deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim20 10s infinite linear;
  animation-delay: 4s;
  opacity: 1; }

@keyframes anim20 {
  100% {
    opacity: 1;
    transform: rotate(57deg) translate3d(910px, 753px, 1000px) scale(1); } }

.tri:nth-child(21) {
  border-top: 30px solid #aaff00;
  border-top: 30px solid white;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  margin-left: -7.5px;
  margin-top: -7.5px;
  transform: rotate(166deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim21 10s infinite linear;
  animation-delay: 4.2s;
  opacity: 1; }

@keyframes anim21 {
  100% {
    opacity: 1;
    transform: rotate(249deg) translate3d(213px, 173px, 1000px) scale(1); } }

.tri:nth-child(22) {
  border-top: 48px solid #fb00ff;
  border-top: 48px solid white;
  border-right: 24px solid transparent;
  border-left: 24px solid transparent;
  margin-left: -12px;
  margin-top: -12px;
  transform: rotate(113deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim22 10s infinite linear;
  animation-delay: 4.4s;
  opacity: 1; }

@keyframes anim22 {
  100% {
    opacity: 1;
    transform: rotate(169.5deg) translate3d(144px, 953px, 1000px) scale(1); } }

.tri:nth-child(23) {
  border-top: 62px solid #2600ff;
  border-top: 62px solid white;
  border-right: 31px solid transparent;
  border-left: 31px solid transparent;
  margin-left: -15.5px;
  margin-top: -15.5px;
  transform: rotate(258deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim23 10s infinite linear;
  animation-delay: 4.6s;
  opacity: 1; }

@keyframes anim23 {
  100% {
    opacity: 1;
    transform: rotate(387deg) translate3d(927px, 542px, 1000px) scale(1); } }

.tri:nth-child(24) {
  border-top: 48px solid #ff0066;
  border-top: 48px solid white;
  border-right: 24px solid transparent;
  border-left: 24px solid transparent;
  margin-left: -12px;
  margin-top: -12px;
  transform: rotate(274deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim24 10s infinite linear;
  animation-delay: 4.8s;
  opacity: 1; }

@keyframes anim24 {
  100% {
    opacity: 1;
    transform: rotate(411deg) translate3d(353px, 464px, 1000px) scale(1); } }

.tri:nth-child(25) {
  border-top: 20px solid #ff5500;
  border-top: 20px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  margin-left: -5px;
  margin-top: -5px;
  transform: rotate(251deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim25 10s infinite linear;
  animation-delay: 5s;
  opacity: 1; }

@keyframes anim25 {
  100% {
    opacity: 1;
    transform: rotate(376.5deg) translate3d(237px, 272px, 1000px) scale(1); } }

.tri:nth-child(26) {
  border-top: 62px solid #ffa600;
  border-top: 62px solid white;
  border-right: 31px solid transparent;
  border-left: 31px solid transparent;
  margin-left: -15.5px;
  margin-top: -15.5px;
  transform: rotate(323deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim26 10s infinite linear;
  animation-delay: 5.2s;
  opacity: 1; }

@keyframes anim26 {
  100% {
    opacity: 1;
    transform: rotate(484.5deg) translate3d(264px, 716px, 1000px) scale(1); } }

.tri:nth-child(27) {
  border-top: 84px solid #ff00f2;
  border-top: 84px solid white;
  border-right: 42px solid transparent;
  border-left: 42px solid transparent;
  margin-left: -21px;
  margin-top: -21px;
  transform: rotate(275deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim27 10s infinite linear;
  animation-delay: 5.4s;
  opacity: 1; }

@keyframes anim27 {
  100% {
    opacity: 1;
    transform: rotate(412.5deg) translate3d(938px, 671px, 1000px) scale(1); } }

.tri:nth-child(28) {
  border-top: 12px solid #a2ff00;
  border-top: 12px solid white;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  margin-left: -3px;
  margin-top: -3px;
  transform: rotate(132deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim28 10s infinite linear;
  animation-delay: 5.6s;
  opacity: 1; }

@keyframes anim28 {
  100% {
    opacity: 1;
    transform: rotate(198deg) translate3d(339px, 262px, 1000px) scale(1); } }

.tri:nth-child(29) {
  border-top: 24px solid #ff6f00;
  border-top: 24px solid white;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  margin-left: -6px;
  margin-top: -6px;
  transform: rotate(207deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim29 10s infinite linear;
  animation-delay: 5.8s;
  opacity: 1; }

@keyframes anim29 {
  100% {
    opacity: 1;
    transform: rotate(310.5deg) translate3d(719px, 403px, 1000px) scale(1); } }

.tri:nth-child(30) {
  border-top: 62px solid #d9ff00;
  border-top: 62px solid white;
  border-right: 31px solid transparent;
  border-left: 31px solid transparent;
  margin-left: -15.5px;
  margin-top: -15.5px;
  transform: rotate(178deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim30 10s infinite linear;
  animation-delay: 6s;
  opacity: 1; }

@keyframes anim30 {
  100% {
    opacity: 1;
    transform: rotate(267deg) translate3d(884px, 453px, 1000px) scale(1); } }

.tri:nth-child(31) {
  border-top: 48px solid #0088ff;
  border-top: 48px solid white;
  border-right: 24px solid transparent;
  border-left: 24px solid transparent;
  margin-left: -12px;
  margin-top: -12px;
  transform: rotate(133deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim31 10s infinite linear;
  animation-delay: 6.2s;
  opacity: 1; }

@keyframes anim31 {
  100% {
    opacity: 1;
    transform: rotate(199.5deg) translate3d(809px, 150px, 1000px) scale(1); } }

.tri:nth-child(32) {
  border-top: 52px solid #ff0095;
  border-top: 52px solid white;
  border-right: 26px solid transparent;
  border-left: 26px solid transparent;
  margin-left: -13px;
  margin-top: -13px;
  transform: rotate(322deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim32 10s infinite linear;
  animation-delay: 6.4s;
  opacity: 1; }

@keyframes anim32 {
  100% {
    opacity: 1;
    transform: rotate(483deg) translate3d(326px, 351px, 1000px) scale(1); } }

.tri:nth-child(33) {
  border-top: 48px solid darkorange;
  border-top: 48px solid white;
  border-right: 24px solid transparent;
  border-left: 24px solid transparent;
  margin-left: -12px;
  margin-top: -12px;
  transform: rotate(62deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim33 10s infinite linear;
  animation-delay: 6.6s;
  opacity: 1; }

@keyframes anim33 {
  100% {
    opacity: 1;
    transform: rotate(93deg) translate3d(657px, 962px, 1000px) scale(1); } }

.tri:nth-child(34) {
  border-top: 90px solid #ffdd00;
  border-top: 90px solid white;
  border-right: 45px solid transparent;
  border-left: 45px solid transparent;
  margin-left: -22.5px;
  margin-top: -22.5px;
  transform: rotate(153deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim34 10s infinite linear;
  animation-delay: 6.8s;
  opacity: 1; }

@keyframes anim34 {
  100% {
    opacity: 1;
    transform: rotate(229.5deg) translate3d(783px, 711px, 1000px) scale(1); } }

.tri:nth-child(35) {
  border-top: 18px solid #9d00ff;
  border-top: 18px solid white;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  margin-left: -4.5px;
  margin-top: -4.5px;
  transform: rotate(344deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim35 10s infinite linear;
  animation-delay: 7s;
  opacity: 1; }

@keyframes anim35 {
  100% {
    opacity: 1;
    transform: rotate(516deg) translate3d(820px, 210px, 1000px) scale(1); } }

.tri:nth-child(36) {
  border-top: 2px solid #ff4800;
  border-top: 2px solid white;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  margin-left: -0.5px;
  margin-top: -0.5px;
  transform: rotate(10deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim36 10s infinite linear;
  animation-delay: 7.2s;
  opacity: 1; }

@keyframes anim36 {
  100% {
    opacity: 1;
    transform: rotate(15deg) translate3d(439px, 842px, 1000px) scale(1); } }

.tri:nth-child(37) {
  border-top: 10px solid #00ffc4;
  border-top: 10px solid white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  margin-left: -2.5px;
  margin-top: -2.5px;
  transform: rotate(118deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim37 10s infinite linear;
  animation-delay: 7.4s;
  opacity: 1; }

@keyframes anim37 {
  100% {
    opacity: 1;
    transform: rotate(177deg) translate3d(150px, 70px, 1000px) scale(1); } }

.tri:nth-child(38) {
  border-top: 32px solid #4000ff;
  border-top: 32px solid white;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  margin-left: -8px;
  margin-top: -8px;
  transform: rotate(121deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim38 10s infinite linear;
  animation-delay: 7.6s;
  opacity: 1; }

@keyframes anim38 {
  100% {
    opacity: 1;
    transform: rotate(181.5deg) translate3d(574px, 21px, 1000px) scale(1); } }

.tri:nth-child(39) {
  border-top: 76px solid #0022ff;
  border-top: 76px solid white;
  border-right: 38px solid transparent;
  border-left: 38px solid transparent;
  margin-left: -19px;
  margin-top: -19px;
  transform: rotate(226deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim39 10s infinite linear;
  animation-delay: 7.8s;
  opacity: 1; }

@keyframes anim39 {
  100% {
    opacity: 1;
    transform: rotate(339deg) translate3d(350px, 399px, 1000px) scale(1); } }

.tri:nth-child(40) {
  border-top: 4px solid #00aeff;
  border-top: 4px solid white;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  margin-left: -1px;
  margin-top: -1px;
  transform: rotate(19deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim40 10s infinite linear;
  animation-delay: 8s;
  opacity: 1; }

@keyframes anim40 {
  100% {
    opacity: 1;
    transform: rotate(28.5deg) translate3d(665px, 609px, 1000px) scale(1); } }

.tri:nth-child(41) {
  border-top: 6px solid #d000ff;
  border-top: 6px solid white;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  margin-left: -1.5px;
  margin-top: -1.5px;
  transform: rotate(30deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim41 10s infinite linear;
  animation-delay: 8.2s;
  opacity: 1; }

@keyframes anim41 {
  100% {
    opacity: 1;
    transform: rotate(45deg) translate3d(542px, 311px, 1000px) scale(1); } }

.tri:nth-child(42) {
  border-top: 76px solid #6200ff;
  border-top: 76px solid white;
  border-right: 38px solid transparent;
  border-left: 38px solid transparent;
  margin-left: -19px;
  margin-top: -19px;
  transform: rotate(236deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim42 10s infinite linear;
  animation-delay: 8.4s;
  opacity: 1; }

@keyframes anim42 {
  100% {
    opacity: 1;
    transform: rotate(354deg) translate3d(383px, 464px, 1000px) scale(1); } }

.tri:nth-child(43) {
  border-top: 54px solid #00ff91;
  border-top: 54px solid white;
  border-right: 27px solid transparent;
  border-left: 27px solid transparent;
  margin-left: -13.5px;
  margin-top: -13.5px;
  transform: rotate(54deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim43 10s infinite linear;
  animation-delay: 8.6s;
  opacity: 1; }

@keyframes anim43 {
  100% {
    opacity: 1;
    transform: rotate(81deg) translate3d(398px, 93px, 1000px) scale(1); } }

.tri:nth-child(44) {
  border-top: 52px solid #0077ff;
  border-top: 52px solid white;
  border-right: 26px solid transparent;
  border-left: 26px solid transparent;
  margin-left: -13px;
  margin-top: -13px;
  transform: rotate(36deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim44 10s infinite linear;
  animation-delay: 8.8s;
  opacity: 1; }

@keyframes anim44 {
  100% {
    opacity: 1;
    transform: rotate(54deg) translate3d(310px, 670px, 1000px) scale(1); } }

.tri:nth-child(45) {
  border-top: 6px solid #ff007b;
  border-top: 6px solid white;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  margin-left: -1.5px;
  margin-top: -1.5px;
  transform: rotate(4deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim45 10s infinite linear;
  animation-delay: 9s;
  opacity: 1; }

@keyframes anim45 {
  100% {
    opacity: 1;
    transform: rotate(6deg) translate3d(846px, 722px, 1000px) scale(1); } }

.tri:nth-child(46) {
  border-top: 2px solid #ffae00;
  border-top: 2px solid white;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  margin-left: -0.5px;
  margin-top: -0.5px;
  transform: rotate(351deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim46 10s infinite linear;
  animation-delay: 9.2s;
  opacity: 1; }

@keyframes anim46 {
  100% {
    opacity: 1;
    transform: rotate(526.5deg) translate3d(13px, 819px, 1000px) scale(1); } }

.tri:nth-child(47) {
  border-top: 38px solid #0004ff;
  border-top: 38px solid white;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  margin-left: -9.5px;
  margin-top: -9.5px;
  transform: rotate(112deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim47 10s infinite linear;
  animation-delay: 9.4s;
  opacity: 1; }

@keyframes anim47 {
  100% {
    opacity: 1;
    transform: rotate(168deg) translate3d(594px, 477px, 1000px) scale(1); } }

.tri:nth-child(48) {
  border-top: 92px solid #ffcc00;
  border-top: 92px solid white;
  border-right: 46px solid transparent;
  border-left: 46px solid transparent;
  margin-left: -23px;
  margin-top: -23px;
  transform: rotate(169deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim48 10s infinite linear;
  animation-delay: 9.6s;
  opacity: 1; }

@keyframes anim48 {
  100% {
    opacity: 1;
    transform: rotate(253.5deg) translate3d(959px, 876px, 1000px) scale(1); } }

.tri:nth-child(49) {
  border-top: 50px solid #00fbff;
  border-top: 50px solid white;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  margin-left: -12.5px;
  margin-top: -12.5px;
  transform: rotate(172deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim49 10s infinite linear;
  animation-delay: 9.8s;
  opacity: 1; }

@keyframes anim49 {
  100% {
    opacity: 1;
    transform: rotate(258deg) translate3d(48px, 366px, 1000px) scale(1); } }

.tri:nth-child(50) {
  border-top: 26px solid #ff00b3;
  border-top: 26px solid white;
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
  margin-left: -6.5px;
  margin-top: -6.5px;
  transform: rotate(56deg) translate3d(0, 0, -1500px) scale(0);
  animation: anim50 10s infinite linear;
  animation-delay: 10s;
  opacity: 1; }

@keyframes anim50 {
  100% {
    opacity: 1;
    transform: rotate(84deg) translate3d(294px, 998px, 1000px) scale(1); } }

.content-container {
  height: 100%;
  width: 80%;
  max-width: 500px; }

.logo {
  width: 0;
  margin-bottom: -40px; }

.form-container {
  width: 80%;
  margin-top: 50px; }

#email-input {
  box-sizing: border-box;
  opacity: 0;
  border-radius: 6px;
  border-width: 0;
  font-family: 'Manrope';
  font-size: 18px;
  text-align: center; }

.submit {
  opacity: 0;
  margin-left: 5px;
  border-width: 0;
  border-radius: 6px;
  font-family: 'Manrope';
  font-size: 2em;
  font-weight: 600;
  background-color: white; }

.play {
  opacity: 0;
  margin-left: 5px;
  background-color: transparent;
  border-left: 30px solid black;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; }

#email-input:focus {
  outline: none;
  border: 1px solid red; }

.text-container {
  text-align: center; }

.text {
  font-family: 'Manrope';
  font-weight: 500;
  color: white;
  background-image: radial-gradient(ellipse at center, black 0%, transparent 75%);
  text-align: center;
  margin: 15px auto;
  margin-bottom: 0; }

#test {
  color: blue; }

.footer {
  font-family: "Manrope";
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  position: absolute;
  bottom: 0; }

.red {
  color: red; }

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center; }

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards; }

@keyframes fadeIn {
  0% {
    width: 0;
    opacity: 0; }
  100% {
    width: 60%;
    opacity: 1; } }

.stretch {
  animation-name: stretch;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-fill-mode: forwards; }

@keyframes stretch {
  0% {
    width: 0;
    opacity: 0;
    padding: 0; }
  100% {
    width: 100%;
    opacity: 1;
    padding: 10px; } }

.appear {
  animation-name: appear;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards; }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.play-animate {
  animation-name: play-animate;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards; }

@keyframes play-animate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.slideInUp {
  animation-name: slideInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1.5s; }

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.slideInDown {
  animation-name: slideInDown;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-delay: 4s; }

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@media only screen and (max-width: 768px) {
  @keyframes stretch {
    0% {
      width: 0;
      opacity: 0;
      padding: 0; }
    100% {
      width: 100%;
      opacity: 1;
      padding: 5px; } }
  .play {
    opacity: 0;
    margin-left: 5px;
    background-color: transparent;
    border-left: 20px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; } }
