$total: 50;
$time: 10s;

html, body, .wrap {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #000;
	// background-color: green;
	overflow: hidden;
}

.wrap {
	transform-style: preserve-3d;
	perspective: 500px;
	overflow: hidden;
}

.tri {
	position: absolute;
	top: 50%;
	left: 50%;
}

@for $i from 1 through $total {
	$size: random(50) * 1px;
	$rotate: random(360) * 1deg;
	.tri:nth-child(#{$i}){
		border-top: $size*2 solid hsla(random(360), 100%, 50%, 1);
		border-top: $size*2 solid white;
		border-right: $size solid transparent;
		border-left: $size solid transparent;
		margin-left: -$size/2;
		margin-top: -$size/2;
		transform: rotate($rotate) translate3d(0,0, -1500px) scale(0);
		animation: anim#{$i} $time infinite linear;
		animation-delay: $i * ($time/$total);
		opacity: 1;
	}
	
	// Internal Animation
	@keyframes anim#{$i}{
		100% {
			opacity: 1;
			transform: rotate($rotate * 1.5) translate3d(random(1000) * 1px, random(1000) * 1px, 1000px) scale(1);
		}
	}
}

.content-container {
	// background-color: green;
	height: 100%;
	width: 80%;
	max-width: 500px;
}

.logo {
	width: 0;
	margin-bottom: -40px;
}

.form-container {
	width: 80%;
	margin-top: 50px;
	// background-color: green;
}

#email-input {
	box-sizing: border-box;
	opacity: 0;

	border-radius: 6px;
	border-width: 0;
	font-family: 'Manrope', sans-serif;
	font-size: 18px;
	text-align: center;
}

.submit {
	opacity: 0;
	margin-left: 5px;

	border-width: 0;
	border-radius: 6px;
	font-family: 'Manrope', sans-serif;
	font-size: 2em;
	font-weight: 600;

	background-color: white;
}

.play {
	opacity: 0;
	margin-left: 5px;

	background-color: transparent;
	border-left: 30px solid black;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}

#email-input:focus {
	outline: none;
	border:1px solid red;
}

.text-container {
	text-align: center;
}

.text {
	font-family: 'Manrope', sans-serif;
	font-weight: 500;

	color: white;
	background-image: radial-gradient(ellipse at center, black 0%, transparent 75%);
	text-align: center;
	margin: 15px auto;
	margin-bottom: 0;
}

#test {
	color: blue;
}

.footer {
	font-family: "Manrope", sans-serif;
	font-size: 1em;
	font-weight: 300;
	text-align: center;

	position: absolute;
	bottom: 0;
}



// Helper classes

.red {
	color: red;
}

.flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-row-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: center;
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;

	// Note
	// - translate3d is used to put this element in a different z-index context from wrap
	// - this is unique to the preserve-3d transform-style
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}



// Animations
//
// TODO: Add -web-kit settings

.fadeIn {
	animation-name: fadeIn;
	animation-duration: 4s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
	}

	@keyframes fadeIn {
	0% {
		width: 0;
		opacity: 0;
	}

	100% {
		width: 60%;
		opacity: 1;
	}	
}

.stretch {
	animation-name: stretch;
	animation-duration: 4s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	}

	@keyframes stretch {
	0% {
		width: 0;
		opacity: 0;
		padding: 0;
	}

	100% {
		width: 100%;
		opacity: 1;
		padding: 10px;
	}
}

.appear {
	animation-name: appear;
	animation-duration: 3s;
	animation-delay: 3s;
	animation-fill-mode: forwards;	
	}

	@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.play-animate {
	animation-name: play-animate;
	animation-duration: 2s;
	animation-delay: 4s;
	animation-fill-mode: forwards;	
	}

	@keyframes play-animate {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.slideInUp {
	animation-name: slideInUp;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-delay: 1.5s;
	}
	
	@keyframes slideInUp {
	0% {
	transform: translateY(100%);
	opacity: 0;
	}
	100% {
	transform: translateY(0);
	opacity: 1;
	}
}
.slideInDown {
	animation-name: slideInDown;
	animation-duration: 1.5s;
	animation-fill-mode: both;
	animation-delay: 4s;
	}
	
	@keyframes slideInDown {
	0% {
	transform: translateY(-100%);
	opacity: 0;
	}
	100% {
	transform: translateY(0);
	opacity: 1;
	}
}



// Responsive Design

@media only screen and (max-width: 768px) {
	@keyframes stretch {
		0% {
			width: 0;
			opacity: 0;
			padding: 0;
		}
		100% {
			width: 100%;
			opacity: 1;
			padding: 5px;
		}
	}

	.play {
		opacity: 0;
		margin-left: 50px;
	
		background-color: transparent;
		border-left: 20px solid black;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}

	.flex-row-center {
		flex-direction: column;
	}

	.submit {
		margin-left: 0;
		margin-top: 5px;
	}
}